
<div class="container">
  <div class="form-control form-group">
    <%= form_for(user) do |f| %>
    <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="form-group">
      <%= f.label :first_name, :class => "control-label" %>
      <%= f.text_field :first_name, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name, :class => "control-label"  %>
      <%= f.text_field :last_name, :class => "form-control"  %>
    </div>

    <div class="form-group">
      <%= f.label :alias, :class => "control-label"  %>
      <%= f.text_field :alias, :class => "form-control"  %>
    </div>

    <div class="form-group">
      <%= f.label :email, :class => "control-label"  %>
      <%= f.text_field :email, :class => "form-control"  %>
    </div>

    <div class="form-group">
      <%= f.label :password, :class => "control-label"  %>
      <%= f.password_field :password, :class => "form-control"  %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, :class => "control-label"  %>
      <%= f.password_field :password_confirmation, :class => "form-control"  %>
    </div>

    <div class="form-actions">
      <%= f.submit "Update", :class => "btn btn-secondary" %>
    </div>
    <% end %>
  </div>
</div>
