<p id="notice"><%= notice %></p>
<div class="view-half">
  <div class="container">

    <div class="form-control form-group" readonly>
      <strong>First name:</strong>
      <div class="form-control form-group">
        <%= @user.first_name %>
      </div>

      <strong>Last name:</strong>
      <div class="form-control form-group">
        <%= @user.last_name %>
      </div>

      <strong>Alias:</strong>
      <div class="form-control form-group">
        <%= @user.alias %>
      </div>

      <strong>Email:</strong>
      <div class="form-control form-group">
        <%= @user.email %>
      </div>

      <div class="form-actions">
        <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-secondary" %> |
        <%= link_to 'Back', users_path, :class => "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

<div class="view-half">
  <div class="container">
    Character(s) table here
    <%= link_to "New Character", new_character_url, :class => "btn btn-secondary" %>
  </div>
</div>