<p id="notice"><%= notice %></p>
<div class="view-half">
  <div class="container">

    <div class="form-group" readonly>
      <strong>First name:</strong>
      <div class="form-control">
        <%= @user.first_name %>
      </div>

      <strong>Last name:</strong>
      <div class="form-control">
        <%= @user.last_name %>
      </div>

      <strong>Email:</strong>
      <div class="form-control">
        <%= @user.email %>
      </div>

      <strong>Alias:</strong>
      <div class="form-control">
        <%= @user.alias %>
      </div>
      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
    </div>
  </div>
</div>

<div class="view-half">
  <div class="container">
    Character table here
  </div>
</div>