<%= form_for(character) do |f| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :hit_points %>
    <%= f.number_field :hit_points %>
  </div>

  <div class="field">
    <%= f.label :life %>
    <%= f.number_field :life %>
  </div>

  <div class="field">
    <%= f.label :speed %>
    <%= f.number_field :speed %>
  </div>

  <div class="field">
    <%= f.label :initiative %>
    <%= f.number_field :initiative %>
  </div>

  <div class="field">
    <%= f.label :strength %>
    <%= f.number_field :strength %>
  </div>

  <div class="field">
    <%= f.label :experience %>
    <%= f.number_field :experience %>
  </div>

  <div class="field">
    <%= f.label :charisma %>
    <%= f.number_field :charisma %>
  </div>

  <div class="field">
    <%= f.label :intimidation %>
    <%= f.number_field :intimidation %>
  </div>

  <div class="field">
    <%= f.label :weapon_proficiency %>
    <%= f.number_field :weapon_proficiency %>
  </div>

  <div class="field">
    <%= f.label :weapon_accuracy %>
    <%= f.number_field :weapon_accuracy %>
  </div>

  <div class="field">
    <%= f.label :tolerance %>
    <%= f.number_field :tolerance %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
